body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9dddf9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    text-align: center;
    background-color: #9cd725;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(165, 42, 122);
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
input{
    background-color: rgb(210, 153, 248);
}